# Importing Packages

In [1]:
import pandas as pd

# Reading the data files

In [2]:
questions_df = pd.read_csv("../data/Questions.csv", encoding='latin-1')
answers_df = pd.read_csv("../data/Answers.csv", encoding='latin-1')

# Dropping all the unanswered questions

In [4]:
# create a boolean mask of rows to keep
mask = questions_df['Id'].isin(answers_df['ParentId'])

# drop the rows that don't match the condition
questions_df = questions_df[mask]
questions_df.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [10]:
questions_df.Id.nunique() == answers_df.ParentId.nunique() # Check if the number of unique Ids in both dataframes are the same
print("Is the number of unique Ids in both dataframes the same: ", questions_df.Id.nunique() == answers_df.ParentId.nunique())

Is the number of unique Ids in both dataframes the same:  True

#### Now we have successfully removed all the unanswered questions from the dataset. And the number of unique questions is equal to the number of answers in the dataset.

In [11]:
questions_df.to_csv("../data/Questions_cleaned.csv", index=False)